*
{
    padding:0;
    margin:0;
}
body{
    box-sizing: border-box;
    font-family:'Cairo', sans-serif ;
}

.main-container
{
    height: 600px;
    width:80%;
display:flex;
flex-direction: column;
gap:20px;
justify-content: flex-start;
align-items: flex-start;
margin:40px;
}
.heading
{
    width:100%;
    position: relative;
   
}
.heading::after{
    content:"";
    position:absolute;
    width:65px;
    border: 2px solid  rgba(0, 123, 255, 1);
    bottom: 0;
    left:0;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.product-container
{
   width:100%; 
   
    display: flex;
    flex-direction: row;
    gap:20px;
    padding:15px;
    background: rgba(251, 251, 251, 1);

    border: 1px solid rgba(50, 50, 50, 0.2);
} .product-container .product-image{
    width:20%;
}
.product-image img{
    width:100%;
}
.product-details
{
    width:80%;
    display:flex;
    flex-direction: row;
  justify-content: space-between;
 

}
.product-info
{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
button{
    border: none;
    background: none;
   color:   rgba(51, 54, 63, 1);
}
.product-amount
{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}
p{
    font-size: 24px;
     color:  rgba(40, 167, 69, 1);
     line-height: 44.98px;
}
p del{
    font-size:20px;
    color:rgba(220, 53, 69, 1);
    line-height: 37.48px;

}
.increment-decrement 
{
    border: 1px rgba(50, 50, 50, 0.2) solid;;
   


}

.increment-decrement button{

    font-size:30px;
    width:30px;
    height: 15px;
    

}
@media (max-width:600px)
{
    .main-container  {
    
        width:80%;
    margin:30px;
    }
    .product-container
{
   width:100%; 

    gap: 10px;
    padding:10px;
  
} .product-container .product-image{
    width:30%;
}
.product-image img{
    width:100%;
}
.product-details
{
    width:70%;
}
p{
     line-height: 30px
}
p del{
    line-height: 15px;
    font-size: 15px;

}
.increment-decrement button{

    font-size:15px;
    width:20px;
    height: 10px;
    

}
}@media (max-width:320px)
{
    .main-container  {
    
    margin:10px;
    }
    .product-container
{
   width:100%; 

    gap: 10px;
    padding:10px;
  
} .product-container .product-image{
    width:30%;
}
.product-image img{
    width:100%;
}
.product-details
{
    width:70%;
}
p{
     line-height: 30px
}
p del{
    line-height: 15px;
    font-size: 15px;

}
.increment-decrement button{

    font-size:15px;
    width:20px;
    height: 10px;
    

}
}